@charset "utf-8";

/*全体の設定*/
body {
	margin: 20px;
	padding: 10px;
	-webkit-text-size-adjust: none;
	color: #666;	/*全体の文字色*/
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 16px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	background: #fff;	/*背景色*/
}

h1 {
  border-bottom: solid 3px #ffddff;
  position: relative;
}

h1:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #ff88ff;
  bottom: -3px;
  width: 20%;
}

h1:first-letter {
  font-size: 2em;
  color: #cc0099;
}

h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form,select{margin: 0px;padding: 0px;font-size: 100%;font-weight: normal;}
ul {list-style-type: none;}
ol {padding-left: 40px;padding-bottom: 15px;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
iframe {width: 100%;}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #666;	/*リンクテキストの色*/
	transition: 0.3s;	/*マウスオン時の移り変わるまでの時間設定。0.3秒。*/
}
a:hover {
	color: #d08047;	/*マウスオン時の文字色*/
}

#page {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 3%;
}


#contents section + section {
	margin-top: 30px;
}


/*画面幅580px以下の設定
-----------------------------------------------------*/
@media screen and (max-width:580px){

/*全体の設定
---------------------------------------*/
body {
	font-size: 12px;	/*文字サイズ*/
	line-height: 1.5;	/*行間*/
}

/*メニュー
------------------------------------------*/
/*メニュー１個あたりの設定*/
#menubar li {
	display: block;	/*縦並びにする設定*/
	margin-bottom: 10px;
}
#menubar li a {
	text-decoration: none;
	padding: 8px 30px;	/*各メニュー内の余白。*/
}

/*各ブロックごとの設定*/
.list {
	padding: 10px;	/*ボックス内の余白*/
}

/*その他
---------------------------------------------------------------------------*/
.ws,.wl {width: 94%;}
}

/*ホーム下の部分の解説*/
.contents {
	height: 400px;
	overflow: hidden;
}
.left {
	float: left;
	height: 400px;
	width: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.right {
	float: right;
	width: 50%;
	height: 400px;
}

.text {
	background-color: #fffaf0;
}
.contents p,h3{
	margin: 30px 120px 0 21px;
}
